.line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px;
  }

  
  
  .company-top {
    position: relative;
    height: 45vh;
    background: url('aboutus.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .company-top .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
  }
  
  .company-top .overlay h1 {
    font-family: Georgia, serif;
    font-size: 3em;
  }
  
  .company-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .company-content h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .company-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .company-table th, .company-table td {
    padding: 20px; /* Increased padding */
    text-align: left;
  }
  
  .company-table th {
    background: #f4f4f4;
    width: 30%;
  }
  
  .company-table tr {
    border-bottom: 1px solid #5a5a5a;
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
  }