#question
body {
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
margin: 0;
}
main {
flex-grow: 1;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.questions {
text-align: center;
background: #f4f4f4;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
width: 80%;
max-width: 800px;
position: relative;
font-family:'M PLUS 1p', sans-serif;
}
.question-container {
margin: 20px 0;

}

.question-container p{
color: #333;
}
.answer-buttons {
display: flex;
justify-content: center;
gap: 20px;
}
.answer-button {
padding: 15px 20px;
font-size: 18px;
cursor: pointer;
border: none;
border-radius: 50%;
width: 100px;
height: 100px;
/* background-color: #333; */
background-color: #4d9ae8;
color: #fff;
transition: background-color 0.2s;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* Darker, less blurred shadow */
}
.answer-button:hover {
background-color: #575757;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8); /* Increase shadow on hover */

}
.category-info {
/* background: #373838; */
background: #4d9ae8;
padding: 10px 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
font-size: 18px;
margin-bottom: 50px;
color: white;
font-family:'M PLUS 1p', sans-serif;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* Darker, less blurred shadow */

}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
