#stylesheet
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

body, html {
  font-family: 'Arial', sans-serif;
}

header {
  background: white;
  color: black;
  padding: 0em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-top: 0px;

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.logo {
  /* display: flex;
  align-items: center;
  font-size: 1em; */
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  height: 150px;
}

.topnav {
  display: flex;
  gap: 3em;
}

.topnav a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.social-media-icons {
  display: flex;
  gap: 1em;
  font-size: 1.5em;
}

.menu-bar {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-bar .line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 150px; /* Adjust this value to change the width of the white margin */
  background-color: white;
}

/* .top-content {
  position: relative;
  height: 88vh;
  background: url('background_img2.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* overflow: hidden;
  margin: 40px; */
/* } */ 

.top-content .overlay{
  width: 33%;
  background-color: #001c4e; /* Solid navy color */
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
  top: 10em;
  left: 0;
  right: 0;
  padding: 20px;
}

.top-content {
  position: relative;
  height: 88vh;
  background: url('background_img2.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact {
  position: absolute;
  top: 25em; /* Adjusts the position of the button relative to the bottom */
  left: 1.5em; /* Adjusts the position of the button relative to the right */
}

.contact .contact-button {
  display: inline-block;
  background-color: white;
  color: #001c4e;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.overlay h1 {
  width: 100%;
  color: white;
  font-size: 2.5em;
  margin: 0;
  padding: 20px 0;
}



/* Description section */
.second .image{
  position: relative;
  height: 70vh;
  background: url('second.png') no-repeat center center/cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.second .description{
  display: flex;
  justify-content: center; /* Center the content as a whole */
  align-items: center; /* Vertically center the content */
  padding: 20px;
  background-color: #f9f9f9;
}
.description .text-container {
  display: flex; /* Align h1 and p side by side */
  align-items: center; /* Vertical alignment of h1 and p */
  gap: 70px; /* Space between h1 and p */
}

.description .text-container h1 {
  font-size: 2.5vw; /* Responsive font size */
  color: navy;
}

.description .text-container p {
  font-size: 1.2vw; /* Responsive font size */
  color: black;
  margin: 0; /* Remove default margin */
}


.third {
  background-color: #001c4e;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.third .service-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.third .text-container {
  width: 70%;
  padding: 20px;
}

.third .text-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.third .text-container h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.third .option {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.third .option a {
  color: #001c4e;
  background-color: #f9f9f9;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.third .option a:hover {
  background-color: #d1e7ff;
}

.third .image {
  width: 40%;
  padding: 20px;
}

.third .image img {
  width: 100%;
  border-radius: 10px;
}

.fourth {
  background: url('4.png') no-repeat center center/cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%;  */
  height: 100vh; /* Full viewport height */
  padding: 0 5%; /* Adjust padding as needed, reduced to prevent overflow */
  background-color: #005288; /* Adjusted to your screenshot's background color */
}

.fourth .mission, .fourth .vision {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the items vertically */
  justify-content: center; /* Center align the items horizontally */
  width: 50%; /* Each section takes half of the container's width */
  color: white; /* Text color set to white */
  text-align: center; /* Centers the text within the containers */
}

.fourth h2 {
  font-size: 3rem; /* Larger font size for headings */
  position: relative; /* Needed to position the pseudo-element */
  padding-bottom: 30px; /* Space for the underline */
}

.fourth h2::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px; /* Thickness of the line */
  background-color: white; /* Color of the line */
  width: 50%; /* Width of the line relative to the element */
  margin: auto; /* Center the line horizontally */
}

.fourth p {
  font-size: 1.5rem; /* Larger font size for paragraph */
}

.fourth h2, .fourth p {
  font-family: 'M PLUS 1P', sans-serif;
}

.fifth {
  background-color: white;
  color: white;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  width: 100%;
  height: 100vh;
}

.fifth .content {
  display: flex; /* This will line up the children side by side */
  width: 100%; /* Use the full width of the container */
  justify-content: space-evenly; /* Evenly space the children horizontally */
  align-items: center;
  padding: 5%;
}

.fifth img {
  width: 80%; /* Adjust the width to fit three images side by side */
  padding: 10px; /* Maintain some space around the images */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.fifth .head {
  background-color: #001c4e;
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  font-size: 1rem;
}

.sixth {
  background-color: #f9f9f9;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.sixth .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
  box-sizing: border-box;
}

.sixth .head {
  text-align: left;
  flex: 1;
  color: #004a98;
  margin-top: 1.5em;
}

.sixth .details {
  text-align: right;
  flex: 1;
}

.sixth .details .label {
  color: #004a98; /* Set the color of the labels to blue */
}

.sixth .image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sixth .image img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}



@media (max-width: 768px) {
  .fourth {
    flex-direction: column;
  }

  .fourth .mission, .fourth .vision {
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 20px; /* Add space between the sections on smaller screens */
  }
}

.top-content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  opacity: 0;
  animation: fadeIn 1s forwards; /* Background overlay appears immediately */
}

@keyframes animate__fadeInUp {
  to {
    opacity: 1;
  }
} 

.top-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
  animation: fadeInUp 4s forwards; /* Background overlay appears immediately */
  color: white;
  /* text-shadow: 3px 3px 5px #fff, -3px -3px 5px #fff, 3px -3px 5px #fff, -3px 3px 5px #fff; */

}


.top-content h3 {
  font-size: 1.5em;
  color: black;
  animation: fadeInUp 4s forwards; /* Background overlay appears immediately */
  /* text-shadow: 3px 3px 5px #fff, -3px -3px 5px #fff, 3px -3px 5px #fff, -3px 3px 5px #fff; */

}

h4 {
  font-size: 1.5em;
  font-family: Georgia, serif;
}

.service{
  position: relative;
  background: url('system.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 5em 2em;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 40px;  
}

.service h2{
  font-size: 2.5em;

}

.parent {
  text-align: center;
  padding: 2em;
}

.yellow-rectangle {
  background: #a5c9ff;
  padding: 2em;
  text-align: center;
  font-size: 30px;
}

.yellow-rectangle h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.yellow-rectangle h5 {
  font-family: Arial, Helvetica, sans-serif;
}


.cta-button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position:relative;
  bottom: 0;
  width: 100%;
  }

/* Responsive Design */
@media (max-width: 768px) {
  .topnav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu-bar {
    display: flex;
  }

  .top-content h1 {
    font-size: 2em;
    color: white; /* Change text color for smaller screens */
  }

  .yellow-rectangle h2 {
    font-size: 1.2em;
  }
  .yellow-rectangle h5 {
    font-size: 0.8em;
  }
  .service h2 {
    font-size: 1.8em;
  }
  .service h4 {
    font-size: 1em;
  }

  .top-content {
    margin: 10px;
  }

  .service{
    margin: 20px;  
  }
}